*{
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
}
html,body{
     height: 100%;
     width: 100%;
     font-family: montserrat;
}
main{
     width: 100%;
     height: 100%;
     background:url(https://plus.unsplash.com/premium_photo-1701191571962-020565a4f0c1?q=80&w=2013&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     padding-top: 20px;
}
main>nav{
     width: 92%;
     height: 9%;
     background-color: #E7E7E7;
     align-items: center;
     display: flex;
     margin: 0px 86px;
     border-radius: 25px;
     box-shadow: 1px 1px 2px 2px #E7E7E7;
     
}
main>nav>.logo>img{
   width: 70px;
   padding-left: 12px;
   /* display: inline-block; */
}
main>nav>.page{
     display: flex;
     /* justify-content: space-between; */
     gap: 18px;
     align-items: center;
     margin-left: 900px; 
     
}
.page > .btn{
     padding: 8px 15px;
     border: 2px solid#064581;
     background-color: #064581;
     color: white;
     border-radius: 15px;
}

a{
     text-decoration: none;
     color: black;
     font-weight: 500;  
}
.content{
     width: 100%;
     height: 100%;
     padding: 45px 85px;
     display: flex;
     /* justify-content: space-between; */
      gap:2%;
     
}
main >.content > .one{
     width: 60%;
     height: 100%;
     display:flex;
     gap: 3%;
}
main > .content > .one >.img1 >img{
     width:95%;
     height: 95%;
     border-radius: 417px 417px;
     object-fit: cover;
}

main > .content > .one >.img2 >img{
     width:50%;
     height: 75%;
     margin-top: 118px;
     border-radius: 317px 317px;
     /* object-fit:cover; */
}



main>.content> .two>h1{
     font-size: 95px;
     color:#064581;
     line-height: 1;
}
main >.content >.two>p{
     font-size: 20px;
     font-weight:300;
     line-height: 1;
}
main >.content > .two > .event{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 35px;
}
main >.content > .two > .event>div{
     display: flex;
     justify-content: space-between;
     gap: 1%;
     align-items: center;
}
main >.content > .two > .event>div >div >h1{
     font-size: 55px;
     color:#064581;
     text-shadow: 1px 2px;
}

 .btn > .btn1{
     padding: 9px 15px;
     border: 2px solid#064581;
     background-color: #064581;
     color: white;
     border-radius: 15px;
     
 }

.btn>a>span{
     font-size: 15px;
     padding-left:40px ;
     text-decoration: underline;

}